<div >
  <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="form" (submit)="register()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput
            type="text"
            formControlName="firstName"
            class="formControl"
            placeholder="Firstname"
            required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput
            type="text"
            formControlName="lastName"
            class="formControl"
            placeholder="Lastname"
            required>

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput
            type="text"
            formControlName="email"
            class="formControl"
            placeholder="Email"
            required>
            

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput
            type="text"
            formControlName="mobile"
            class="formControl"
            placeholder="Phonenumber"
            required>

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput
            type="text"
            formControlName="role"
            class="formControl"
            placeholder="Role (user)"
            required>
            <!-- <mat-label>Role</mat-label>
            <mat-select formControlName="role" class="formControl" required>
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.value}}
              </mat-option>
            </mat-select> -->
            <!-- <mat-label>Role</mat-label>
            <select matNativeControl required formControlName="role" class="formControl">
              <option value="user">user</option>
            </select> -->

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required>
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
            <input matInput
            ngValidateEqual="password"
            placeholder="Confirm Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="confirmpassword"
            [ngClass]="{'is-invalid' : submitted && f.password.errors }"
            required>
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field> -->
        </mat-card-content>
        <div class="form-group">
          <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Register</button>

          <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>
      </form>
    </mat-card>

  </div>
</div>
