<h1>
  My Orders
</h1>
<mat-divider></mat-divider>

<div class="payment daetail">
  <h3 class="text-center">Payment Process</h3>
  <p>Use the following Lipa na mpesa till.
    Go to Paybill number.
    Account Name is your order Id
  </p>
  <img  class="text-center"src="../../../assets/mpesa.png" alt="mpesa" style="width: 200px; height: 200px;">

  <h5>Order to be confirm on paymemnt approval by admin </h5>
</div>

<table mat-table [dataSource]="orders" class="tableWidth">

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>Order Id </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef>Paypal Order Id</th>
    <td mat-cell *matCellDef="let element"> {{element.paymentInfo?.orderID}} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let element"> {{element.total | currency: 'KSH ' }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="createdOn">
    <th mat-header-cell *matHeaderCellDef> Order Date </th>
    <td mat-cell *matCellDef="let element"> {{element.createdOn | date}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let row">
      <button type="button" mat-icon-button [routerLink]="['/user/order', row._id]">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
