body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100%;
  background: white;
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  color: white;
  background: maroon;
}

.ir {
  a:hover {
    color: maroon;
    background-color: white;
  }
}
a {
  margin: 2px;
  text-decoration: none;
}

a:hover {
  color: maroon;
  background-color: white;
}

.active-link {
  background-color: black;
}

.mat-icon {
  vertical-align: middle;
  margin: 0 5px;
}

.left-spacer {
  flex: 1 1 auto;
}
