<div style="height: 100vh;">
  <mat-toolbar style="background: maroon; color: white;">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a class="logo" [routerLink]="['/']"></a>
      <span class="pm-title">Afriapparel</span>

      <div fxShow='true' fxHide.lt-md="true">
        <a mat-button routerLink="/user/product" routerLinkActive>Products</a>
        <a mat-button (click)="sidenav.toggle()">Categories</a>
      </div>

      <span class="left-spacer"></span>

      <a mat-button *ngIf="!(loginStatus$ | async)" routerLink="/login" routerLinkActive="active-link">Login</a>


      <div *ngIf="loginStatus$ | async">
        <a mat-icon-button  [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()"> Logout </button>
          <div *ngIf="(role$ | async) === 'user'">
            <button mat-menu-item routerLink="/user/profile/edit">Edit Profile</button>
          </div>
        </mat-menu>
      </div>

      <div *ngIf="(role$ | async) === 'user'">
        <a mat-icon-button routerLink="/user/wishlist">
          <mat-icon>favorite</mat-icon>
        </a>
        <a mat-icon-button routerLink="/user/cart">
          <mat-icon [matBadge]="(cart$ | async)?.data?.length" >shopping_cart</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav style="background: maroon; color: white;">
      <mat-nav-list >
        <div *ngIf="loginStatus$" >
        <a mat-button routerLink="/user/product" routerLinkActive (click)="sidenav.toggle()">
         All Products</a>

          <mat-divider></mat-divider>
          <h4 class="text-center"> CATEGORIES </h4>
          <mat-list-item *ngFor="let category of categories" #category>
            <a mat-button (click)="getProduct(category.categoryName)" (click)="sidenav.toggle()"
            style="color: white ; ">{{category.categoryName}}</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-button style="color: white ;" routerLink='/user/order'>Orders</a>
          </mat-list-item>
        </div>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content style="background-color: white;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
