<form >
  <input class="form-control" type="text" name="search" aria-describedby="search-text" [(ngModel)]="searchText" placeholder="Search">
  <mat-icon class="fa">search</mat-icon>
</form>
<div class="search">

</div>
<h1 class="text-center" style="color: maroon; font-size: 30px;">CATEGORY: {{categoryName}}</h1>
<div>
  {{productList?.length}} products out of {{productCount}}
</div>

<mat-divider></mat-divider>

<!-- <div fxShow="true">
  <button mat-button mat-icon-button (click)="searchBar.toggle()"><mat-icon>search</mat-icon></button>
</div> -->
<!-- <div class="search-hero" #searchBar >
  <input class="form-control" type="text" name="search" aria-describedby="search-text" [(ngModel)]="searchText" placeholder="Search">
</div> -->




<ng-template [ngIf]="isHandset$ | async" [ngIfElse]="notHandest" class="list2">
  <mat-grid-list cols="1" rowHeight="1:1" gutterSize="10px" class="tile2">
    <mat-grid-tile *ngFor="let product of productList  | filter: searchText; let i = index ">
      <div>
        <img [routerLink]='[product._id]' [src]="product.imageUrl" [alt]="product.productName" class="prod-image">
        <span></span>
        <mat-grid-tile-footer style="background-color: white; text-align: center;">
          <div class="box-text">
            <span style="color: #080707; font-weight: bold;">
              {{product.productName }}
            </span>
            <span style="color: #080707; font-weight: bold;">
              : {{product.price | currency : 'KSH '}}
            </span>
          </div>
          <br><br>
        </mat-grid-tile-footer>
      </div>

    </mat-grid-tile>

  </mat-grid-list>

</ng-template>


<ng-template #notHandest>

  <mat-grid-list cols="4" rowHeight="1:1" gutterSize="50px" class="list1">
    <mat-grid-tile *ngFor="let product of productList | filter: searchText ; let i = index " class="tile1">
      <div >
        <mat-card-content>
          <img [routerLink]='[product._id]' [src]="product.imageUrl" [alt]="product.productName">
        </mat-card-content>
        <br>
        <mat-grid-tile-footer style="background-color: white;">
          <div class="box-text text-center">
            <p style="color: black; font-weight: bold; font-size: 14px;">
              <span>
                {{product.productName}}
              </span>
              :
              <span>
                {{product.price | currency : 'KSH '}}
              </span>
            </p>

          </div>
        </mat-grid-tile-footer>
      </div>

    </mat-grid-tile>
    <br>
  </mat-grid-list>

</ng-template>
