* {
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.mat-card-content{
  background: white;
}

.box-text{
  background-color: white;
  color: black;

}
