.list1 img {
  width: 300px;
  height: 330px;
  cursor: pointer;
}

.prod-image{
  width: 200px;
  height: 220px;
  cursor: pointer;
  border-radius: 120px;

}

.mat-card-content{
  background: white;
}

.box-text{
  background-color: white;
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list1 {
  background: white;

}

.list1  :hover {
  background-color: white;
}

.list2 {
  background: white;

}

.list2  :hover {
  background-color: white;
}

.tile1 {
  border: 1px solid white;
  padding: 10px;
}

.tile2 {
  padding: 10px;
}

mat-grid-tile {
  background: white;
}



form {
  position: fixed;
  left: 84%;
  top: 12%;
  transform: translate(-50%,-20%);
  transition: all 1s ease;
  width: 45px;
  height: 42px;
  background: maroon;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid grey;
}

input{
  width: 100%;;
  height: 42.5px;
  line-height: 20px;
  display: none;
  font-size: 1em;
  border-radius: 20px;

}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.6em;
  transition: all 1s;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: black;
  color: white;
}


