body {
  background: white;
  height: 100vh;
}

.fitWidth {
  width: 100%;
  height: 100%;
}

.matSelect {
  width: 100px;
  color: black;
}

.mat-grid-tile {
  background: white;
}

.mat-grid-tile .mat-grid-tile-header {
  background: maroon;
}


button {
  margin: 5px;
}

.mat-grid-tile :hover{
  background: white;
}
