// /* You can add global styles to this file, and also import other style files */
// @import "angular/material/theming";

// @include mat-core();

// // Light Theme
// $light-primary: mat-palette($mat-indigo);
// $light-accent: mat-palette($mat-pink, A200, A100, A400);
// $light-theme: mat-light-theme($light-primary, $light-accent);

// @media (prefers-color-scheme: light) {
//   @include angular-material-theme($light-theme);
//   @include custom-components-theme($light-theme);
// }

// // Dark Theme
// $dark-primary: mat-palette($mat-blue-grey);
// $dark-accent: mat-palette($mat-amber, A200, A100, A400);
// $dark-warn: mat-palette($mat-deep-orange);
// $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// @media (prefers-color-scheme: dark) {
//   @include angular-material-theme($dark-theme);
//   @include custom-components-theme($dark-theme);
// }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}

.mat-figure:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.main-wrapper {
	height: 100%;
}

.positronx {
	text-decoration: none;
	color: #ffffff;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 330px;
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}

.box:before {
	content: "";
	width: 100%;
	height: 30px;
	border-radius: 10px;
	position: absolute;
	top: -10px;
	background: rgba(255, 255, 255, .6);
	left: 0;
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	z-index: -1;
}

.main-wrapper .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
	width: 100%;
}

.main-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.main-wrapper .mat-card {
	padding: 45px 70px 55px;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #FFF7FA;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}
